* {
	box-sizing: bordex-box;
	font-family: 'Satisfy', cursive;
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #f4f2de;
	margin: 0px 150px;
	color: #4a6660;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px 10px;
}
/*----------------------NavBar---------------*/
.navBar {
	height: 100px;
	display: flex;
	justify-content: space-between;

	font-size: 24px;
	font-weight: bold;
	width: 100%;
	color: #4a6660 !important;
	background-color: transparent;
	box-shadow: rgba(222, 184, 135, 0.767) 0px 03px 20px 0px;
}

/*-------------------------------------*/

/*----------------------Header---------------*/
.topHeader {
	background-color: #c3e2c2;
	height: 30px;
	object-fit: cover;
}
.headerMenu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.headerMenuLogo {
	height: 90%;
}
.logoHome {
	display: flex;
	margin: auto auto;
	height: 80%;
	object-fit: cover;
	padding: 5% 0px;
}
.headerMenuOptions {
	height: 100%;
	align-items: center;
	color: #4a6660 !important;
}

/*-------------------------------------*/

/*----------------------MainMenu---------------*/
.mainMenuList > li > h3:hover {
	cursor: pointer;
	background-color: #4a6660;
	color: #f4f2de;
	cursor: pointer;
	border-radius: 15px;
}
.mainMenuList {
	margin: 0px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	height: 90%;
	padding: 0px 10px;
	width: 600px;
	letter-spacing: -1px;
}
.mainMenuList > li > h3 {
	/* border: solid 3px red; */
	padding: 10px;
}
.mainMenu {
	padding: 0px 10px 0px 0px;
	height: 100%;
	align-content: center;
}
/*-------------------------------------*/

/*----------------------TitleContainer---------------*/
.mainImageTitle {
	height: 100%;
	position: relative;
}
.mainImageTitle > video {
	opacity: 0.4;
	object-fit: cover;
}
.mainTitle {
	font-size: 32px;
	margin: -250px 0px 150px 0px;
	align-items: right;
	opacity: 0.9;
}
.mainTitle > h1,
h3 {
	text-align: center;
}
/*-------------------------------------*/

/*----------------------HomeView---------------*/
.secondTitle,
.experiencesTitle {
	border-top: solid 3px rgb(5, 102, 73);
	width: 60%;
	height: 30px;
	margin: 20px auto 220px;
}

.secondTitle > h2,
.experiencesTitle > h2 {
	font-size: 32px;
	text-align: center;
}
.secondTitle > p,
.experiencesTitle > p {
	padding: 20px;

	font-size: 32px;
	text-align: center;
	width: 100%;
	margin: 0px auto;
}
/*-------------------------------------*/
/*----------------AboutUs---------------------*/

.aboutUsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}
.aboutUsTitle {
	background-color: #dbcc95;
	width: 34%;
	min-width: 350px;
}
.aboutUsTitle > h2 {
	margin: 20px;
}
.aboutUsTitle > img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 50%;
	padding: 10px;
}
.aboutUsTitle > p {
	font-size: 24px;
	text-align: left;
	padding: 20px 20px;
	line-height: 1.5;
}
.companyContainer {
	width: 60%;
}
.companyContainer > h2 {
	font-size: 28px;
	margin: 20px;
}
.companyContainer > img {
	width: 350px;
	border-radius: 20%;
}
.companyContainer > p {
	font-size: 24px;
	text-align: center;
	padding: 20px 20px;
	line-height: 2;
	margin-top: 20px;
}

.aboutUsContainer {
	text-align: center;
}

/*----------------------Card---------------*/
.cardContainer {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 0px 150px;
	justify-content: space-evenly;

	row-gap: 50px;
}
.card:hover {
	cursor: pointer;
}

.card {
	border: solid 4px #e9b384;
	border-radius: 15px;
	background: url('../img/natureza_tour_adventure_jeep_800x533.png');
	width: 250px;
	height: 400px;
	margin: 0 10px;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px 10px;
}

.cardText {
	padding: 0px 20px;
	background-color: rgba(0, 0, 0, 0.192);
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	position: absolute;
	transform: translateY(75%);
	transition: all 0.4s ease-in-out;
	color: white;
	backdrop-filter: blur(6px);
}
.cardText > h3 {
	font-size: 28px;
	margin: 10px 0px 0px;
	padding-bottom: 15px;
}
.cardText > p {
	font-size: 18px;
	padding-bottom: 10px;
}
.card:hover .cardText {
	transform: translateY(20%);
}
/*-------------------------------------*/

/*----------------------CardInfo---------------*/
.cardTitle {
	text-align: center;
	margin: 20px 0px 20px;
	font-size: 24px;
	gap: 20px;
}
.CardCarroussel {
	width: 90%;
	margin: 20px auto;
}

.cardMap {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	margin: 80px auto;

	text-align: center;
}
.cardMap > img {
	width: 60%;
	border-radius: 10%;
}
.cardMap > p {
	font-size: 20px;
	margin: 20px 0px;
}
.infoCard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0px auto;
}
.cardDescription {
	width: 60%;
	font-size: 24px;
	line-height: 2;
	padding: 20px;
}
.cardWeather {
	width: 34%;
	text-align: center;
}
.cardWeather > img {
	border: solid 2px black;
	border-radius: 20%;
}

/*-------------------------------------*/
/*----------------------map---------------*/
.mapArea {
	font-size: 24px;
	display: block;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.mapArea > img {
	display: block;
	margin: 0 auto;
}

/*-------------------------------------*/

/*----------------------footer---------------*/

.footerContainer {
	background-color: #c3e2c2;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.footerCard {
	border-radius: 25px;
	width: 300px;
	margin: 10px;
	padding: 5px;
	text-align: center;
	font-size: 24px;
}
.footerCard > a {
	text-decoration: none;
	color: #4a6660;
}
.footerCard:hover,
.button:hover,
.footerCard > a:hover {
	background-color: #4a6660;
	color: #c3e2c2;
	cursor: pointer;
}

/*-------------------------------------*/
/*----------------Button Send---------------------*/
.button {
	border: solid 1px #c3e2c2;
	border-radius: 25px;
	background-color: #c3e2c2;
	height: 60px;
	width: 250px;
	margin: 0px auto;
	font-size: 26px;
}
.button > p {
	text-align: center;
	margin: 10px 0px;
}
.button:hover {
	background-color: #4a6660;
	color: #c3e2c2;
	cursor: pointer;
}
/*-------------------------------------*/
/*----------------------contact---------------*/
.contactContainer {
	text-align: center;
	margin: 20px;
	font-size: 24px;
	width: 60%;
}
.contactContainer > h2 {
	font-size: 32px;
	padding: 10px;
}
.contactContainer > p {
	line-height: 2;
	padding: 20px;
}
.contactFormContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contactInfo {
	background-color: #dbcc95;
	width: 34%;
	font-size: 28px;
	text-align: center;
}
.contactInfo > h5 {
	margin: 20px;
	padding: 10px;
}
.contactForm {
	display: flex;
	gap: 20px;
	flex-direction: column;
	margin: 0px auto;
	font-size: 28px;
}
.emailPhoneContactForm {
	gap: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}
.DateContactForm {
	gap: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}
.textBoxContactForm {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.allBoxContact {
	border-radius: 20px;
	text-align: center;
	height: 40px;
	font-size: 18px;
}
.contactTextArea {
	border-radius: 20px;
	text-align: center;
	height: 100px;
	font-size: 18px;
}

/*-------------------------------------*/

/*---------------Slider----------------------*/
.sliderContainer {
	margin: 5px;
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}
.slide {
	border-radius: 20px;
	box-shadow: 0px 0px 10px grey;
	width: 100%;
}
.slideHidden {
	display: none;
}
.arrow {
	position: absolute;
	width: 2rem;
	height: 2rem;
	color: white;
	filter: drop-shadow(0px 0px 10px black);
}
.arrow:hover {
	cursor: pointer;
}
.left-arrow {
	left: 1rem;
}
.right-arrow {
	right: 1rem;
}
.indicators {
	right: 50%;
	position: absolute;
	bottom: 1rem;
}
.indicator {
	background-color: white;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 100%;
	gap: 3px;
}
.indicatorInactive {
	background-color: #746f6fc2;
	height: 1rem;
	width: 1rem;
	cursor: pointer;
}

/*-------------------------------------*/
.marginBottom {
	margin-bottom: 20px;
}
