* {
	/* box-sizing: border-box; */
	font-family: 'Satisfy', cursive;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #f4f2de;
	margin: 0px 5%;
	color: #4a6660;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px 10px;
}
/*----------------------NavBar---------------*/
.topHeader {
	background-color: #c3e2c2;
	height: 32px;
	object-fit: cover;
}
.navBar {
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding: 8px 48px;
	font-weight: bold;
	color: #4a6660 !important;
	box-shadow: rgba(182, 148, 106, 0.767) 0px 03px 20px 0px;
	align-items: center;
}

.headerMenu {
	height: 100%;
	width: 100%;
	object-fit: fill;
}
.headerMenuLogo {
	cursor: pointer;
	height: 200%;
}
nav ul {
	display: flex;
}
nav ul > li {
	list-style: none;
	font-size: 32px;
}
nav ul.open {
	display: flex;
}

nav ul > li > h3 {
	/* border: solid 3px red; */
	padding: 5px;
	border-radius: 15px;
	margin: 0px 10px;
}
nav ul > li > h3:not(.active):hover {
	background-color: #4a6660;
	color: #f4f2de;
	cursor: pointer;
}
.active {
	background-color: #4a6660;
	color: #f4f2de;
}
/* para manter selecionado a página aberta */
/*--------------HamburguerMenu-----------------------*/
.hamburguerMenu {
	display: none;
	position: absolute;
	right: 10%;
	flex-direction: column;
	justify-content: space-between;
	width: 64px;
	height: 64px;
	cursor: pointer;
	/* border: solid 3px red; */
}
.mobileHamburguer {
	height: 12px;
	width: 100%;
	background-color: #4a6660;
	border-radius: 3px;
}

/*-------------------------------------*/

/*----------------------TitleContainer---------------*/
.mainImageTitle {
	height: 100%;
	/* position: relative; */
}
.mainImageTitle > video {
	opacity: 0.4;
	object-fit: cover;
}
.mainTitle {
	margin: -300px 0px 100px 0px;
	font-size: 48px;
}

.mainTitle > h1,
h3 {
	text-align: center;
}

/*-------------------------------------*/

/*----------------------HomeView---------------*/
.secondTitle,
.experiencesTitle {
	border-top: solid 3px rgb(5, 102, 73);
	width: 60%;
	height: 30px;
	margin: 20px auto 220px;
}
.experiencesTitle {
	width: 75%;
}

.secondTitle > h2,
.experiencesTitle > h2 {
	font-size: 48px;
	text-align: center;
}
.secondTitle > p,
.experiencesTitle > p {
	padding: 0px 20px 20px;
	font-size: 32px;
	text-align: center;
	width: 100%;
	margin: 0px auto;
}
.marginFifty {
	margin-top: 50px;
}

/*-------------------------------------*/
/*----------------------Card---------------*/
.cardContainer {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 50px 150px;
	justify-content: space-evenly;
	gap: 50px;
	row-gap: 100px;
}
.card:hover {
	cursor: pointer;
}

.card {
	border: solid 4px #e9b384;
	border-radius: 15px;
	background: url('../img/natureza_tour_adventure_jeep_800x533.png');
	width: 250px;
	height: 400px;
	margin: 0 10px;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px 10px;
}

.cardText {
	padding: 0px 20px;
	background-color: rgba(0, 0, 0, 0.192);
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	position: absolute;
	transform: translateY(75%);
	transition: all 0.4s ease-in-out;
	color: white;
	backdrop-filter: blur(6px);
}
.cardText > h3 {
	font-size: 28px;
	margin: 10px 0px 0px;
	padding-bottom: 15px;
}
.cardText > p {
	font-size: 18px;
	padding-bottom: 10px;
}
.card:hover .cardText {
	transform: translateY(20%);
}
/*-------------------------------------*/

/*----------------------CardInfo---------------*/

.CardCarroussel {
	width: 90%;
	margin: -90px auto;
}
.infoCard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0px auto;
}
.cardDescription {
	display: flex;
	width: 60%;
	font-size: 32px;
	line-height: 2;
	padding: 30px;
	margin: auto;
}
.cardWeather {
	/* display: flex; */
	margin: 10px auto;
	width: 34%;
	min-width: 360px;
	text-align: center;
	padding: 10px;
}
.cardWeather > img {
	border: solid 2px black;
	border-radius: 15%;
	width: 80%;
	min-width: 350px;
}

/*-------------------------------------*/
/*----------------------map---------------*/
.cardMap {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	margin: 150px auto 40px;
	text-align: center;
}
.cardMap > img {
	width: 80%;
	border-radius: 10%;
}
.cardMap > p {
	font-size: 24px;
	margin: 20px 0px;
}

/*----------------------footer---------------*/

.footerContainer {
	background-color: #c3e2c2;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}
.footerCard {
	border-radius: 25px;
	width: 300px;
	margin: 10px;
	padding: 5px;
	text-align: center;
	font-size: 32px;
}
.footerCard > a {
	text-decoration: none;
	color: #4a6660;
	font-size: 32px;
}
.footerCard:hover,
.button:hover,
.footerCard > a:hover {
	background-color: #4a6660;
	color: #c3e2c2;
	cursor: pointer;
}
/*-------------------------------------*/
/*----------------Button---------------------*/
.button {
	display: block;
	border-radius: 25px;
	border: solid 5px #4a6660;
	background-color: #c3e2c2;
	height: 60px;
	width: 250px;
	margin: 0px auto;
	cursor: pointer;
}
.buttonSize {
	width: 300px;
	height: 100px;
	border-radius: 45px;
}
.btnSendSize {
	width: 300px;
	height: 50px !important;
	border-radius: 45px;
	font-size: 24px;
}
.button > p {
	padding: 6px;
	display: flex;
	justify-content: center;
	font-weight: 500;
	font-size: 32px;
}
.button:hover {
	background-color: #4a6660;
	border: solid 5px #c3e2c2;
	rotate: 360deg;
	border-radius: 100px 0px;
	box-shadow: 40px 40px 5px 1px #c3e2c2;
	transition: background-color 3s, rotate 3s, border-radius 3s, box-shadow 3s;
}

.button > p:hover {
	rotate: 360deg;
	transition: rotate 4s, color 4s;
	color: #c3e2c2;
}
/*-------------------------------------*/
/*----------------AboutUs---------------------*/
.aboutUsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	text-align: center;
}
.companyContainer {
	width: 60%;
}
.companyContainer > h2,
.contactContainer > h2 {
	font-size: 36px;
	margin: 40px;
}
.companyContainer > img {
	width: 350px;
	border-radius: 20%;
	/* margin: 0px 50px; */
	margin: auto;
}
.companyContainer > p {
	font-size: 28px;
	text-align: justify;
	padding: 20px 10px 20px 40px;
	line-height: 2.5;
	margin-top: 20px;
}
.aboutUsTitle {
	background-color: #dbcc95;
	width: 34%;
	min-width: 445px;
	/* margin: auto; */
	text-align: center;
	padding: 0px;
}

.aboutUsTitle > h2 {
	margin: 30px;
	padding: 10px;
	font-size: 28px;
}
.aboutUsTitle > img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 50%;
	padding: 10px;
}
.aboutUsTitle > p {
	font-size: 28px;
	text-align: left;
	padding: 20px 20px;
	line-height: 2;
}

/*----------------------contact---------------*/
.contactFormContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;

	text-align: center;
}

.contactContainer {
	text-align: center;
	font-size: 24px;
	max-width: 60%;

	padding: 0px 20px;
	width: 60%;
	margin: 0px auto 50px;
}

.contactContainer > p {
	line-height: 2;
	padding: 20px;
	font-size: 28px;
}

.contactInfo > h5 > a {
	text-decoration: none;
	color: #4a6660;
}
.contactInfo {
	background-color: #dbcc95;
	min-width: 34%;
	font-size: 28px;
	text-align: center;
	margin: 0px auto;
}

.contactInfo > h5 {
	margin: 20px;
	padding: 10px;
	font-size: 32px;
	line-height: 2;
}
.contactForm {
	display: flex;
	gap: 20px;
	flex-direction: column;
	margin: 0px auto;
	font-size: 28px;
}
.emailPhoneContactForm {
	gap: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}
.DateContactForm {
	gap: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}
.textBoxContactForm {
	padding: 20px;
	/* display: flex; */
	flex-wrap: wrap;
	justify-content: center;
}
.allBoxContact {
	border-radius: 20px;
	text-align: center;
	height: 40px;
	font-size: 26px;
}
.contactTextArea {
	border-radius: 20px;
	text-align: center;
	height: 100px;
	width: 500px;
	font-size: 26px;
}

/*-------------------------------------*/

/*---------------Slider----------------------*/
.sliderContainer {
	margin: 5px;
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}
.slide {
	border-radius: 20px;
	box-shadow: 0px 0px 10px grey;
	width: 100%;
}
.slideHidden {
	display: none;
}
.arrow {
	position: absolute;
	width: 2rem;
	height: 2rem;
	color: white;
	filter: drop-shadow(0px 0px 10px black);
}
.arrow:hover {
	cursor: pointer;
}
.left-arrow {
	left: 1rem;
}
.right-arrow {
	right: 1rem;
}
.indicators {
	right: 50%;
	position: absolute;
	bottom: 1rem;
}
.indicator {
	background-color: white;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 100%;
	gap: 3px;
}
.indicatorInactive {
	background-color: #746f6fc2;
	height: 1rem;
	width: 1rem;
	cursor: pointer;
}

/*-------------------------------------*/
.marginBottom {
	margin-bottom: 50px;
}
.open {
	display: block;
}
/*------------responsive-------------------------*/

@media screen and (max-width: 1300px) {
	.hamburguerMenu {
		display: flex;
		cursor: pointer;
		position: relative;
		right: -20px;
	}
	nav ul {
		display: none;
		flex-direction: column;
		/* width: 50%; */
		background-color: #c3e2c2;
		position: absolute;
		right: 0px;
		margin: 367px 5% 0px 0px;
		padding: 0px 20px;
		z-index: 1;
		border-radius: 0px 0px 0px 50px;
		font-size: 28px;
	}
	nav ul > li {
		width: 100%;
		display: flex;
		padding: 0px;
		justify-content: right;
	}
	.mainTitle {
		font-size: 36px;
		margin: -320px 0px 170px 0px;
	}
	.secondTitle {
		width: 65%;
	}
	.experiencesTitle {
		width: 75%;
		margin: 20px auto 300px;
	}

	.aboutUsTitle {
		width: 100%;
		margin: auto;
		text-align: center;
	}
	.companyContainer {
		width: 60%;
	}
	.aboutUsTitle {
		width: 100%;
	}
	.companyContainer,
	.companyContainer > img {
		margin: auto;
	}
	.cardDescription {
		width: 80%;
		line-height: 1.5;
	}
}
@media screen and (max-width: 863px) {
	.mainTitle {
		margin: -320px 0px 70px 0px;
	}
	.mapArea > img {
		width: 100%;
	}
	.secondTitle > h2,
	.experiencesTitle > h2 {
		font-size: 40px;
	}
	.secondTitle > p,
	.experiencesTitle > p {
		font-size: 32px;
	}
	.experiencesTitle {
		margin: 20px auto 330px;
	}
	.companyContainer {
		width: 100%;
	}
	.companyContainer > h2,
	.contactContainer > h2 {
		font-size: 36px;
	}
	.companyContainer > img {
		width: 60%;
	}
	.companyContainer > p,
	.companyContainer > p {
		width: 80%;
		line-height: 2;
		margin: auto;
	}
}
@media screen and (max-width: 768px) {
	.mainTitle {
		font-size: 32px;
		margin: -290px 0px 70px 0px;
	}
	.secondTitle {
		margin: 20px auto 300px;
	}
	.secondTitle > h2,
	.experiencesTitle > h2 {
		font-size: 36px;
	}
	.secondTitle > p,
	.experiencesTitle > p {
		font-size: 28px;
	}
	.experiencesTitle {
		/* margin: 20px auto 330px; */
		width: 80%;
	}
	.cardDescription {
		font-size: 24px;
	}
	.companyContainer > h2,
	.contactContainer > h2 {
		font-size: 36px;
		margin: 40px;
	}
	.companyContainer > img {
		width: 50%;
	}
	.companyContainer > p,
	.companyContainer > p {
		font-size: 28px;
		line-height: 1.5;
		margin-top: 10px;
	}
}

@media screen and (max-width: 480px) {
	body {
		margin: 0px 5%;
		min-width: 320px;
	}
	.headerMenuLogo {
		height: 120%;
	}
	.companyContainer > img {
		width: 250px;
		border-radius: 20%;
		margin: auto;
		border: solid 5px red;
	}
	.aboutUsTitle > img {
		width: 250px;
	}

	/* nav ul {
		display: none;
	}
	.hamburguerMenu {
		display: flex;
		cursor: pointer;
	} */
}
/*-------------------------------------*/
